/*
  --COLOR system
*/

// -- Bootstrap colors
$primary: #007bff;
$secondary: #6c757d;

// --Project vars
$color-custom-1: #007bff;
$color-custom-2: #6c757d;
$color-custom-3: #fff;

$colorTextPrimary: $color-custom-1;
